@model StockWebFinal.Models.Usuario

@{
    ViewData["Title"] = "Crear usuario";
}

<div class="container-lg col-4">
    <h1>Crear usuario</h1>
    <form asp-action="Crear" method="POST" onsubmit="return validarCampos();">

        <div class="input-group mb-3">
            <label asp-for="NombreUsuario" class="input-group-text">Nombre de usuario</label>
            <input asp-for="NombreUsuario" type="text" class="form-control" placeholder="Ingresar nombre de usuario" id="nombreUsuario">
        </div>
        <div class="input-group mb-3">
            <label asp-for="Clave" class="input-group-text">Clave</label>
            <input asp-for="Clave" type="password" class="form-control" placeholder="Clave" id="clave">
        </div>

        <div class="input-group mb-3">
            <label asp-for="Nombre" class="input-group-text">Nombre</label>
            <input asp-for="Nombre" type="text" class="form-control" placeholder="Ingresar Nombre" id="nombre">
        </div>
        <div class="input-group mb-3">
            <label asp-for="Apellido" class="input-group-text">Apellido</label>
            <input asp-for="Apellido" type="tel" class="form-control" placeholder="Ingrese el apellido" id="apellido">
        </div>
        <div class="input-group mb-3">
            <label asp-for="Correo" class="input-group-text">Correo</label>
            <input asp-for="Correo" type="email" class="form-control" placeholder="Ingrese el mail" id="correo">
        </div>

        <div class="input-group mb-3">
            <label asp-for="FechaNacimiento" class="input-group-text">Fecha de nacimiento</label>
            <input asp-for="FechaNacimiento" type="date" class="form-control" id="fechaNacimiento">
        </div>
        <div class="input-group mb-3">
            <label asp-for="FechaAlta" class="input-group-text">Fecha de alta</label>
            <input asp-for="FechaAlta" type="datetime" class="form-control" id="fechaAlta" value="@DateTime.Now" readonly>
        </div>

        <div class="input-group mb-3">
            <label asp-for="Administrador" class="input-group-text">Administrador</label>
            <select asp-for="Administrador" id="Administrador" name="Administrador" class="form-control" value="Estandar">
                <option value="True">Administrador</option>
                <option value="False">Estandar</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <label asp-for="Estado" class="input-group-text">Estado</label>
            <select asp-for="Estado" id="Estado" name="Estado" class="form-control">
                <option value="True">Activo</option>
                <option value="False">Inactivo</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>

    </form>
</div>

@section Scripts {
    <script src="~/js/Validaciones/CrearUsuario.js"></script>
}